Lab2:Types

In [4]:
# Integer
11

11

In [3]:
# Float
2.14

2.14

In [2]:
# String
"Hello, Python 101!"

'Hello, Python 101!'

In [5]:
# Type of 12
type(12)

int

In [6]:
# Type of 2.14
type(2.14)

float

In [7]:
# Type of "Hello, Python 101!"
type("Hello, Python 101!")

str

In [9]:
# Print the type of 1.0
type(1.0)

float

In [10]:
# Print the type of 0.5
type(0.5)

float

In [11]:
# System settings about float type
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [12]:
# Verify that this is an integer
type(2)

int

In [13]:
type(float(2))

float

In [14]:
int(1.1)

1

In [16]:
# Convert the string "1.2" into a float
float('1.2')

1.2

In [17]:
# Convert an integer to a string
str(1)

'1'

In [18]:
# Convert a float to a string
str(1.2)

'1.2'

In [19]:
# Type of True
type(True)

bool

In [20]:
# Type of False
type(False)

bool

In [21]:
int(True)

1

In [22]:
bool(1)

True

In [23]:
bool(0)

False

In [24]:
float(True)

1.0

Exercise:Types

What is the data type of the result of: 6 / 2?

In [25]:
type(6/2)

float

What is the type of the result of: 6 // 2? (Note the double slash //.)

In [26]:
type(6//2)

int

What is the type of the result of: "Hello, World!"

In [27]:
type("Hello, World!")

str

What is the type of the result of: "hello" == "world"

In [29]:
type("hello" == "world")

bool

Write the code to convert the following number representing employeeid "1001" to an integer

In [30]:
int("1001")

1001

Write the code to convert this number representing financial value "1234.56" to a floating point number

In [31]:
float("1234.56")

1234.56

Write the code to convert this phone number 123-456-7890 to a string

In [33]:
str("123-456-7890")

'123-456-7890'