Lab4:String Operation

Indexing

In [3]:
name="Marcus Shin"

Negative Indexing

In [5]:
# Print the last element in the string
print(name[-1])

n

In [7]:
# Print the first element in the string
print(name[-8])

c

In [8]:
# Find the length of string
len("Marcus Shin")

11

Slicing

In [9]:
# Take the slice on variable name with only index 0 to index 3
name[0:4]

'Marc'

In [10]:
# Take the slice on variable name with only index 8 to index 11
name[8:12]

'hin'

Stride

In [11]:
# Get every second element. The elments on index 1, 3, 5 ...
name[::2]

'Mru hn'

In [12]:
# Get every second element in the range from index 0 to index 4
name[0:5:2]

'Mru'

Concatenate Strings

In [14]:
# Concatenate two strings
statement = name + " is the best"
statement

'Marcus Shin is the best'

In [15]:
# Print the string for 3 times
3*"Marcus Shin"

'Marcus ShinMarcus ShinMarcus Shin'

Escape Sequences

In [17]:
# New line escape sequence
print(" Marcus Shin \n is the best" )

 Marcus Shin
 is the best

In [18]:
# Tab escape sequence
print(" Marcus Shin \t is the best" )

 Marcus Shin 	 is the best

In [19]:
# Include back slash in string
print(" Marcus Shin \\ is the best" )

 Marcus Shin \ is the best

In [21]:
# r will tell python that string will be display as raw string
print(r" Marcus Shin \ is the best" )

 Marcus Shin \ is the best

String Manipulation Operations

In [22]:
# Convert all the characters in string to upper case
f="you are wrong"
f.upper()

'YOU ARE WRONG'

In [23]:
f2="YOU ARE RIGHT"
f2.lower()

'you are right'

In [25]:
# Replace the old substring with the new target substring is the segment has been found in the string
a = "Michael Jackson is the best"
b = a.replace('Jackson', 'Jordan')
b

'Michael Jordan is the best'

In [26]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
name = "Michael Jordan"
name.find('or')

9

In [27]:
# Find the substring in the string.
name.find('Jor')

8

In [29]:
#Split the substring into list
name = "Michael Jordan"
split_string = (name.split())
split_string

['Michael', 'Jordan']

RegEx

In [30]:
import re

In [32]:
s1 = "Michael Jordan is the best"
# Define the pattern to search for
pattern = r"Jordan"
# Use the search() function to search for the pattern in the string
result = re.search(pattern, s1)
# Check if a match was found
if result:
    print("Match found!")
else:
    print("Match not found.")

Match found!

In [33]:
pattern = r"\d\d\d\d\d\d\d\d\d\d"  # Matches any ten consecutive digits
text = "My Phone number is 1234567890"
match = re.search(pattern, text)
if match:
    print("Phone number found:", match.group())
else:
    print("No match")

Phone number found: 1234567890

In [34]:
pattern = r"\W"  # Matches any non-word character
text = "Hello, world!"
matches = re.findall(pattern, text)
print("Matches:", matches)

Matches: [',', ' ', '!']

In [35]:
s2 = "Michael Jordan was a basketball plyer and known as the 'GOAT'"
# Use the findall() function to find all occurrences of the "as" in the string
result = re.findall("as", s2)
# Print out the list of matched words
print(result)

['as', 'as', 'as']

In [36]:
# Use the split function to split the string by the "\s"
split_array = re.split("\s", s2)
# The split_array contains all the substrings, split by whitespace characters
print(split_array)

['Michael', 'Jordan', 'was', 'a', 'basketball', 'plyer', 'and', 'known', 'as', 'the', "'GOAT'"]

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/var/folders/5p/m570fcnd0cv6vpgx11n41w1r0000gn/T/ipykernel_5604/1481550840.py:2: SyntaxWarning: invalid escape sequence '\s'
  split_array = re.split("\s", s2)

In [37]:
# Define the regular expression pattern to search for
pattern = r"GOAT"
# Define the replacement string
replacement = "legend"
# Use the sub function to replace the pattern with the replacement string
new_string = re.sub(pattern, replacement, s2, flags=re.IGNORECASE)
# The new_string contains the original string with the pattern replaced by the replacement string
print(new_string)

Michael Jordan was a basketball plyer and known as the 'legend'

Quiz on Strings

What is the value of the variable a after the following code is executed? a = "1"

In [40]:
"1"

'1'

What is the value of the variable b after the following code is executed?
b = "2"

"2"

What is the value of the variable c after the following code is executed? c = a + b

"12"

Consider the variable d use slicing to print out the first three elements:

In [42]:
d = "ABCDEFG"
print(d[:3])

ABC

Use a stride value of 2 to print out every second character of the string e:

In [43]:
e = 'clocrkr1e1c1t'
print(e[::2])

correct

Print out a backslash:

In [44]:
print(r"\ ")

\

Convert the variable f to uppercase:

In [45]:
f="you are wrong"
f.upper()

'YOU ARE WRONG'

Convert the variable f2 to lowercase:

In [46]:
f2="YOU ARE RIGHT"
f2.lower()

'you are right'

Consider the variable g, and find the first index of the sub-string snow:

In [47]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In the variable g, replace the sub-string Mary with Bob:

In [48]:
g.replace("Mary", "Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In the variable g, replace the sub-string , with .:

In [49]:
g.replace(',','.')

'Mary had a little lamb Little lamb. little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went. Mary went Everywhere that Mary went The lamb was sure to go'

In the variable g, split the substring to list:

In [50]:
g.split()

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']

In the string s3, find whether the digit is present or not using the \d and search() function:

In [51]:
s3 = "House number- 1105"
result = re.search("\d", s3)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/var/folders/5p/m570fcnd0cv6vpgx11n41w1r0000gn/T/ipykernel_5604/260322935.py:2: SyntaxWarning: invalid escape sequence '\d'
  result = re.search("\d", s3)

In the string str1, replace the sub-string fox with bear using sub() function:

In [52]:
str1= "The quick brown fox jumps over the lazy dog."
new_str1 = re.sub(r"fox", "bear", str1)
print(new_str1)

The quick brown bear jumps over the lazy dog.

In the string str2 find all the occurrences of woo using findall() function:

In [53]:
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"
matches = re.findall(r"woo", str2)
print(matches)

['woo', 'woo', 'woo', 'woo']