Lab:3 Functions in Python

In [1]:
print("test")

test

In [3]:
# First function example: Add 1 to a and store as b
def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [4]:
help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [5]:
add(1)

1 if you add one 2

2

In [6]:
add(2)

2 if you add one 3

3

In [7]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [8]:
Mult(2, 3)

6

In [9]:
Mult(10.0, 3.14)

31.400000000000002

In [10]:
Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

Variables

In [11]:
#Function Definition
def square(a):
      # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [12]:
x=3
y=square(x)
y

3 if you square + 1 10

10

In [13]:
square(2)

2 if you square + 1 5

5

In [14]:
# Define functions, one with return value None and other without return value
def MJ():
    print('Michael Jordan')
    
def MJ1():
    print('Michael Jordan')
    return(None)

In [16]:
MJ()

Michael Jordan

In [17]:
MJ1()

Michael Jordan

In [20]:
print(MJ())
print(MJ1())

Michael Jordan
None
Michael Jordan
None

In [22]:
# Define the function for combining strings
def con(a, b):
    return(a + b)

In [23]:
con("I","am")

'Iam'

In [25]:
# a and b calculation block1
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [26]:
# Make a Function for the calculation above
def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

In [27]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

In [29]:
a2 = 0
b2 = 2
c2 = Equation(a2, b2)
c2

5

In [30]:
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)
sum(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

70.0

In [31]:
len(album_ratings)

8

In [32]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [33]:
#Compare Two Strings Directly using in operator
# add string
string= "Michael Jackson is the best"

# Define a funtion
def check_string(text):
    
# Use if else statement and 'in' operatore to compare the string
    if text in string:
        return 'String matched'
    else:
        return 'String not matched'

check_string("Michael Jackson is the best")

'String matched'

Quiz on Functions

Come up with a function that divides the first input by the second input:

In [34]:
def div(a,b):
    return(a/b)

Use the function <code>con</code> for the following question.

In [35]:
def con(a, b):
    return(a + b)

Can the <code>con</code> function we defined before be used to add two integers or strings?

In [41]:
#yes
con(3,3)

6

In [40]:
con("I","am")

'Iam'

Can the <code>con</code> function we defined before be used to concatenate lists or tuples?

In [43]:
#yes
con(['c',1],['b',1])

['c', 1, 'b', 1]

Write a function code to find total count of word `little` in the given string: 
`"Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go"**`

In [45]:
# TOUGH
def count(string,passedkey):

    words = []
    words = string.split() 
    Dict = {}
    for key in words:
        if(key == passedkey):
            Dict[key] = words.count(key)   
    print("Total Count:",Dict)

count("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go","little")

Total Count: {'little': 3}

In [2]:
len([sum([1,1,1])]

SyntaxError: incomplete input (1137747011.py, line 1)

In [3]:
L=[1,3,2]
sorted(L)

[1, 2, 3]

In [4]:
len([sum([1,1,1])])

1