In [2]:
print("test")

test

In [8]:
# Integer
11

11

In [7]:
# Float
2.14

2.14

In [6]:
# String
"Hello, Python 101!"

'Hello, Python 101!'

In [2]:
# Type of 12
type(12)

int

In [3]:
# Type of 2.14
type(2.14)

float

In [4]:
# Type of "Hello, Python 101!"
type("Hello, Python 101!")

str

In [5]:
# Addition opperation expression
40+60+16+41

157

In [9]:
# Subtraction operation expression
50-60

-10

In [10]:
# Multipication operation expression
5*5

25

In [11]:
# Division operation expression
25/5

5.0

In [12]:
25//5

5

In [13]:
25//6

4

In [14]:
160//60

2

In [15]:
# Mathmatical expression
30+2*60

150

In [16]:
(30+2)*60

1920

In [17]:
# Store value into variable
x=43+60+16+41

In [18]:
x

160

In [19]:
y=x/60

In [20]:
y

2.6666666666666665

In [21]:
x=x/60

In [22]:
x

2.6666666666666665

In [23]:
# Name the variable meaningfuly
total_min=43+42+57

In [24]:
total_min

142

In [30]:
#Exercise: EXpression with Python
30+20-40

10

In [27]:
(55-5)/10

5.0

In [29]:
(6*10)/12

5.0

In [32]:
# Excercise: Variables in Python
x=3+2*2
x

7

In [33]:
y = (3 + 2) * 2
y

10

In [34]:
z = x + y
z

17

In [37]:
import time

# Loop to simulate progress updates
for i in range(10):
    # Print progress
    print(f"Progress: {i}/10", end='\r')
    # Simulate some processing time
    time.sleep(1)

print("\nTask complete!")

Progress: 9/10
Task complete!

In [50]:
name = "Marcus"
age = 18
print(f"my name is {name} and I am {age} years old.")

my name is Marcus and I am 18 years old.

In [51]:
print("My name is {} and I am {} years old.".format(name,age))

My name is Marcus and I am 18 years old.

In [56]:
print("My name is %s and I am %d years old." %(name,age))

My name is Marcus and I am 18 years old.

In [58]:
x=10
y=20
print(f"the sum of x and y is {x+y}")

the sum of x and y is 30

In [62]:
name= "Marcus Shin"

In [63]:
print(name[0])

M

In [64]:
print(name[7])

S

In [65]:
print(name[-1])

n

In [66]:
print(name[-8])

c

In [68]:
name[0:6]

'Marcus'

In [69]:
name[7:11]

'Shin'

In [70]:
name[::2]

'Mru hn'

In [71]:
name[0:5:2]

'Mru'

In [75]:
statement=name+ " is the best."
statement

'Marcus Shin is the best.'

In [76]:
5*name

'Marcus ShinMarcus ShinMarcus ShinMarcus ShinMarcus Shin'

In [77]:
name=name+" is the best."

In [78]:
name

'Marcus Shin is the best.'

In [79]:
#Escape Sequences
print("Marcus Shin \n is the best")

Marcus Shin
 is the best

In [80]:
print("Marcus Shin \t is the best.")

Marcus Shin 	 is the best.

In [81]:
print("Marcus Shin \\ is the best.")

Marcus Shin \ is the best.

In [82]:
print(r"Marcus Shin \ is the best")

Marcus Shin \ is the best

In [84]:
a = "Thriller is the sixth studio album"
print("before upper:", a)

before upper: Thriller is the sixth studio album

In [86]:
b=a.replace('Thriller','Comedy')
b

'Comedy is the sixth studio album'

In [87]:
name

'Marcus Shin is the best.'

In [88]:
name.find('in')

9

In [89]:
name.find('sucram')

-1

In [90]:
import re

In [91]:
f="you are wrong"
f.upper()

'YOU ARE WRONG'

In [92]:
f2="YOU ARE RIGHT"
f2.lower()

'you are right'

In [94]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In [95]:
g.replace('Mary','marcus')

'marcus had a little lamb Little lamb, little lamb marcus had a little lamb Its fleece was white as snow And everywhere that marcus went marcus went, marcus went Everywhere that marcus went The lamb was sure to go'

In [96]:
g.split()

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']

In [97]:
"helloMike".find("Mike")

5